.pagina-error {
	position: relative;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Cardo, 'Cardo Fallback';
}

.imagen-fondo {
	margin-bottom: 10rem;
	position: absolute;
	width: 40%;
	height: 70%;
	background-image: url(../assets/404.png);
	background-size: cover;
}

.contenido {
	margin-top: 60vh;
	z-index: 1;
	text-align: center;
	color: rgb(0, 0, 0);
}

.contenido h1 {
	font-size: 1.5rem;
	margin-bottom: 30px;
	margin-top: 80px;
}

.contenido button {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #000000;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contenido button:hover {
	background-color: #0056b3;
}
/*media querys*/

@media only screen and (max-width: 344px) {
	.pagina-error {
		margin: 0rem;
	}
	.imagen-fondo {
		width: 100%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
		margin-left: 0.5rem;
	}
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
	.pagina-error {
		margin-right: 1rem;
		margin-left: 2rem;
	}
	.imagen-fondo {
		width: 100%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}

@media only screen and (min-width: 375px) and (max-width: 380px) {
	.pagina-error {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	.imagen-fondo {
		width: 100%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media screen and (max-width: 768px) {
	.imagen-fondo {
		width: 60%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media only screen and (min-width: 390px) and (max-width: 430px) {
	.pagina-error {
		margin: 1rem;
	}
	.imagen-fondo {
		width: 100%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media screen and (max-width: 430px) {
	.imagen-fondo {
		width: 100%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media screen and (min-width: 540px) and (max-width: 540px) {
	.imagen-fondo {
		width: 60%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media screen and (min-width: 820px) and (max-width: 820px) {
	.imagen-fondo {
		width: 70%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
	.imagen-fondo {
		width: 60%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media only screen and (min-width: 853px) and (max-width: 912px) {
	.pagina-error {
		margin: 1rem;
	}
	.imagen-fondo {
		width: 70%;
		height: 40%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1280px) and (max-height: 800px) {
	.imagen-fondo {
		width: 40%;
		height: 60%;
	}
	.contenido h1 {
		font-size: 1rem;
		margin-bottom: 2rem;
		margin-top: 0rem;
	}
}
