.pagina-error {
	position: relative;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imagen-fondo {
	margin-bottom: 10rem;
	position: absolute;
	width: 50%;
	height: 50%;
	background-image: url(../assets/404.png);
	background-size: cover;
}

.contenido {
	margin-top: 60vh;
	z-index: 1;
	text-align: center;
	color: rgb(0, 0, 0);
}

.contenido h1 {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.contenido button {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #000000;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contenido button:hover {
	background-color: #0056b3;
}
