
/* src/css/Footer.css */
.container-footer {
    padding: 2rem 1rem;
  }
  
  .social-icons a {
    color: white;
  }
  
  footer {
    width: 100%;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .container-footer {
      text-align: center;
    }
    .container-footer img {
      margin-bottom: 1rem;
    }
    .social-icons {
      justify-content: center;
    }
  }
  

