.image{
    height: 18rem !important;
    width: 100%;
}
.text{
    font-family: Cardo, 'Cardo Fallback';
}
.title{
    font-family: Cardo, serif;
    text-decoration: none;
}
a{
    text-decoration: none !important;
    color: black !important;
}