.reg {
	font-weight: 700;
	height: 10vh;
	align-items: center;
	justify-content: center;
	display: flex;
}

body {
	font-family: Cardo, 'Cardo Fallback' !important;
}

.spanError {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1vw;
}

.containerForm {
	width: 70vw !important;
	padding: 5vh 5vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);

}

.cardo-regular {
	font-family: "Cardo", serif;
	font-weight: 400;
	font-style: normal;
}



.cardo-bold {
	font-family: "Cardo", serif;
	font-weight: 700;
	font-style: normal;
}

.cardo-regular-italic {
	font-family: "Cardo", serif;
	font-weight: 400;
	font-style: italic;
}