@media only screen and (max-width: 768px) {
	.container {
		padding: 0 15px;
	}

	form {
		margin-bottom: 49rem !important;
		margin-top: 5rem !important;
	}

	.img1 {
		display: none;
	}
	.formulario {
		margin-left: 0px !important;
		height: 750px;
	}
	.botonReg {
		margin-left: 70px !important;
	}
}

.imagenformulario {
	border-radius: 20px;
}
.formulario {
	padding-top: 70px;
	margin-left: 50px;
}
.reg {
	font-weight: 700;
}
body {
	font-family: Cardo, 'Cardo Fallback' !important;
}
.botonReg {
	margin-left: 170px;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
}
.img1 {
	width: 700px;
}
