.card0 {
	background-color: rgba(243, 244, 246, 1);
	padding: 2rem;
	max-width: 350px;
	border-radius: 10px;
}
.CarouselItem {
	margin-right: 0px;
}
.header0 {
	display: flex;
	align-items: center;
	grid-gap: 1rem;
	gap: 1rem;
}

.header0 .image0 {
	height: 5rem;
	width: 5rem;
	border-radius: 9999px;
	object-fit: cover;
	/* background-color: rgb(4, 181, 63); */
}
.header1 {
	margin-top: 20px;
}
.estrellas {
	display: flex;
	justify-content: center;
	grid-gap: 0.125rem;
	gap: 0.125rem;
}

.name0 {
	margin-top: 0.25rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	--tw-text-opacity: 1;
	color: rgb(55, 65, 81);
}

.message0 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin-top: 1rem;
	color: rgba(107, 114, 128, 1);
}

.columna0 {
	padding: 0px 0px 0px 0px;
	width: 300px !important;
}
